{% extends 'base.html.twig' %}

{% block title %}Homepage {% endblock %}

{% block body %}
    <div class="title"></div>
    <div class="col-md-12">
        {{ form_start(form, {attr: {class: 'form-wrap'}}) }}
        <div class="col-md-6">
             {{ form_widget(form.date) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.search, {attr: {class: 'btn-form3'}}) }}
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}