{% extends 'base.html.twig' %}

{% block title %}Homepage {% endblock %}

{% block body %}
    <div class="title"></div>
    <div class="jumbotron">
        {{ form_start(form, {attr: {class: 'form-wrap mt-4'}}) }}
        <div class="btn-group" role="group" aria-label="home search">
             {{ form_widget(form.date) }}
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}