{% extends 'base.html.twig' %}

{% block title %}Homepage {% endblock %}

{% block body %}
    <div class="title">NFQ Akademija</div>
    <div class="jumbotron">
        {% if  id is defined  %}
        <a href="{{ 'delete' }}/{{ id }}" class="btn btn-outline-dark">Ištrinti preke {{ id }}?</a>
         {% else %}
             <a href="{{ 'add' }}" class="btn btn-outline-dark">Prideti Kategorija ir preke</a>
        {% endif %}

    </div>
{% endblock %}